div, h1, h2, h3, h4, h5, h6, nav, a {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background: #111111 !important;
    border-radius: 0px !important;
    border: 1px solid transparent;
    opacity: 0.95;
    transition: all 0.3s ease-in-out;
}

.navbar a {
    color: #fff !important;
    font-weight: bolder;
    text-shadow: #000 0px 0px 1px, #111111 0px 0px 1px, #111111 0px 0px 1px, #111111 0px 0px 1px, #111111 0px 0px 1px, #111111 0px 0px 1px;
}

.selected a, .selected {
    text-decoration: underline !important;
    text-decoration-style: dotted;
}

.home-navbar-init-text {
    color: #111111 !important;
}

.nav-trans {
    background: transparent !important;
}

.card-div {
    padding: 10px;
    border: 1px solid #c0c0c0;
    box-shadow: 0px 6px 6px #c0c0c0, 0px 7px 7px #c0c0c0;
    border-radius: 3px;
    width: 100%;
    background: #fff;
}

.menuBtn, .menuBtn:hover {
    border: 1px solid transparent !important;
    background: transparent !important;
    color: #fff !important;
}


/*The side navigation menu*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232323;
    opacity: 0.85;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
    color: #111111;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* end of the side navigation menu */

.parallax-window {
    padding: 20vh 0 40vh 0;
    position: relative;
}
.btn-black{
    background: #111;
    color: #fff;
    border: 1px solid transparent;
}
.btn-black:hover{
    color: #fff;
    background: #000;
    border: 1px solid transparent;
}
.intro-text {
    color: #ffffff;
    font-weight: bolder;
    text-shadow: #000 0px 0px 1px, #111111 0px 0px 1px, #111111 0px 0px 1px, #111111 0px 0px 1px, #111111 0px 0px 1px, #111111 0px 0px 1px;
}

.tab-div {
    background: #fff;
    opacity: 0.9;
}

.search-res-form select, .search-res-form input, .user-form input {
    width: 100%;
    height: 30px;
}

.user-form input {
    width: 100%;
    height: 30px;
    text-align: center;
}

.search-res-form button, .user-form button {
    width: 100%;
}

.intro-btn {
    width: 100%;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: all 0.2s ease-in;
}

.intro-btn:hover, .intro-btn:focus, .intro-btn:active {
    background: #ffffff;
    color: #111;
    border: 1px solid #ffffff;
    opacity: 0.97;
}

.intro-sm-cont {
    background-color: #f7f7f7;
}

.intro-sm-text-div {
    padding: 10px;
    margin: 10px;
    background: #fff;
}

.intro-sm-text-div h1 {
    height: 100px;
    width: 100px;
    font-size: 70px;
    /*background: #111111;*/
    color: #111;
    border-radius: 50px;
    margin-left: 33%;
}

.user-form input, .user-form select {
    height: 40px;
    border: 1px solid #c0c0c0;
    width: 100%;
    border-radius: 3px;
}

.user-form button, .book-btn {
    width: 100%;
}

.trip-res-div {
    background: #f7f7f7;
}

.not-sign-btn {
    width: 45%;
}
.price-div{
    background: #fff;
    padding: 2%;
    border-radius: 5px;
}
.price-div img{
    width: 100%;
    height: 170px;
}
.price-route-div img{
    margin-top: 5px;
    width: 30px;
    height: 30px;
}
.price-route-div p{
    margin-left: 5px;
}
.price-route-div button{
    width: 100%;
    margin-left: 20%;
}
.price-route-cont{
    background: #f5f5f5;
}
.footer-div{
    background: #111;
}
.soc-img{
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.paywith-img{
    width: 90%;
    margin-left: 5%;
    height: 100px;
}
.foot-head-text{
    color: #fff;
}
.foot-list li{
    list-style-type: square;
    margin: 7px;
    list-style-position: inside;
}
